<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="network.ramp.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="false"
        android:launchMode="singleTask"
        android:usesCleartextTraffic="false"
        tools:targetApi="m">
        <activity
            android:name="network.ramp.sdk.ui.activity.RampWidgetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/RampInstant.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ramp" />

            </intent-filter>
        </activity>
    </application>
</manifest>
